/* Customize ANY Bootstrap Specific Styles */

.container-fluid {
    padding:                        45px 0 10px 0;
    .row {
        margin-left:                0;
        margin-right:               0;
    }
}

/* Custom scrollbars. Only works for chrome and Safari */
.scrollable {
    overflow:                       auto;
}
body ::-webkit-scrollbar-track {
    -webkit-box-shadow:             none;
    border-radius:                  2px;
    background:                     $grey-lighten-2;
}

body ::-webkit-scrollbar {
    width:                          2px;
    background-color:               $white;;
}

body ::-webkit-scrollbar-thumb {
    border-radius:                  2px;
    -webkit-box-shadow:             none;
    background:                     $stuhub-light-blue;;
}

body ::-webkit-scrollbar-thumb:hover {
    background:                     $stuhub-red;
}

body ::-webkit-scrollbar-thumb:active {
    background:                     orange;
}

// Links
a {color:                           $stuhub-light-blue;}
a:hover {color:                     $stuhub-navy!important;}

// Custom Checkbox & Radio Styles ----- MUST NEST INPUT WITHIN LABELS AND ADD THE CLASS .container TO THE LABEL!!!!!!!!!!!
label.container:hover input[type=checkbox] ~ .checkmark {
    background-color:               $grey-lighten-2;
}
label.container {
    position:                       relative;
    cursor:                         pointer;
    -webkit-user-select:            none;
    -moz-user-select:               none;
    -ms-user-select:                none;
    user-select:                    none;
    padding:                        3px 0 0 28px!important;
    /* Hide the browser's default checkbox */
    input[type=checkbox] {
      position:                     absolute;
      opacity:                      0;
      cursor:                       pointer;
    }
    input[type=checkbox]:checked ~ .checkmark {
        background-color:           $stuhub-light-blue;
        border-radius:              2px;
    }
    input[type=checkbox]:checked ~ .checkmark:after {
        display:                    block;
    }
    .checkmark {
        position:                   absolute;
        top:                        0;
        left:                       0;
        height:                     22px;
        width:                      22px;
        background-color:           $grey-lighten-2;
    }
    .checkmark:after {
        content:                    "";
        position:                   absolute;
        display:                    none;
        left:                       8px;
        top:                        4px;
        width:                      6px;
        height:                     12px;
        border:                     solid $white;
        border-width:               0 2px 2px 0;
        -webkit-transform:          rotate(45deg);
        -ms-transform:              rotate(45deg);
        transform:                  rotate(45deg);
    }
}

// Override Bootstrap Heading and Labels
h1 {
    font-size:                      3.5rem; 
    font-weight:                    100!important; 
    color:                          $stuhub-navy; 
    margin-top:                     15px;
}

h2 {
    font-size:                      1.45rem; 
    font-weight:                    200!important; 
    color:                          $stuhub-navy; 
}

h6 {
    font-size:                      .83rem; 
    font-weight:                    200!important; 
}

label { 
    color:                          $grey-lighten-1; 
    font-size:                      0.8rem;
    margin-bottom:                  0;
    display:                        block;
}

// Override Bootstrap Input Styles
input::-webkit-input-placeholder    { color: $grey-lighten-1 !important }
input:-moz-placeholder              { color: $grey-lighten-1 !important }
input::-moz-placeholder             { color: $grey-lighten-1 !important }
input:-ms-input-placeholder         { color: $grey-lighten-1 !important }
input, .form-control {                  
    display:                        inline-block; 
    border:                         none!important;
    outline:                        none!important;
    border-radius:                  0.2rem; 
    @include                        inner-shadow(0, 0, 2px, 0.5);
    background-color:               $grey-lighten-3;
    font-weight:                    300;
    font-size:                      0.8rem;
    padding:                        6px 10px;
    color:                          $grey-darken-1;
}

input:focus, .form-control:focus {
    border-radius:                  0.2rem;
    outline:                        none!important;
    border:                         1px solid $stuhub-light-blue!important;
    background-image:               none!important;
    @include                        inner-shadow(0, 0, 2px, 0.5);
    background-color:               $grey-lighten-3;
}

// Override Bootstrap Button Styles
button:focus {
    outline:                        none!important;
    border:                         none;
    border-radius:                  20px;
    @include                        box-shadow(inset, 0, 0, 20px, rgba(68,68,68,0.4));
}
button {
    border-radius:                  20px;
    border:                         none;
    font-weight:                    300;
    font-size:                      0.8rem;
    padding:                        7px 20px;
    min-width:                      130px;
    cursor:                         pointer;
}
.btn-white:focus { 
    outline:                        none!important;
    border:                         1px solid $stuhub-light-blue!important;
    box-shadow:                     none!important;
    border-radius:                  3px;
}
.btn-white:hover { 
    background-color:               $stuhub-red!important;
    color:                          $white!important;
}
.btn-white {
    background:                     $white;
    border:                         none;
    @include                        box-shadow(0, 0, 4px, rgba(68,68,68,0.3));
    border-radius:                  3px;
    color:                          $stuhub-red!important;
    font-weight:                    200;
    font-size:                      0.95rem;
    padding:                        8px 40px;
    cursor:                         pointer;
}

// Override Bootstrap List Styles
ul {
    list-style:                     none;
    padding:                        0;
    margin:                         0;
    li {
        margin:                     0;
        padding:                    0;
    }
}

// Borders
.border-left { 
    border-left:                    1px dashed $grey-lighten-1!important;
}

// ------------------------- Tables -------------------------
.table-sm {
    border-collapse:                collapse;
    thead {
        th:first-child, 
        td:first-child {
            padding-left:           0;
        }
        th, td {
            font-weight:            200;
            font-size:              0.9rem;
            border-top:             none;
            color:                  $stuhub-navy;
            border-bottom:          1px dashed $stuhub-navy;
            padding:                .4rem;
        }
    }
    tbody {
        tr.active {
            td {
                background-color:   $stuhub-pale-blue;
            }
        }
        tr {
            td:first-child {
            padding-left:           0;
            }
            td {
                border-top:         none;
                border-bottom:      1px dashed $grey-lighten-1;
                font-weight:        300;
                font-size:          0.75rem;
                padding:            .4rem;
            }
        }
    }
}



// ------------------------ END Tables ------------------------

// Pagination
.paging {
    position:                       absolute;
    top:                            -33px;
    left:                           0;
    right:                          0;
    width:                          100%;
    min-width:                      850px;
    .pagination {
        margin:                     0 40px 0 0;
        position:                   absolute;
        top:                        -6px;
        right:                      0;
        .active {
            .page-link {
                background:         $stuhub-light-blue!important;
                border:             1px solid $stuhub-light-blue;
                color:              $white!important;
            }
        }
        a {
            font-size:              0.9rem;
            font-weight:            300;
        }
        a:focus {
            box-shadow:             none!important;
        }
        .page-link {
            border-radius:          2rem!important;
            padding:                0.3rem 0.57rem;
            margin:                 0 10px 0 0;
            color:                  $stuhub-navy;
        }
        .next, .prev {
            .page-link {
                border:             none!important;
                color:              $stuhub-red!important;
                background-color:   transparent!important;
                margin-top:         2px;
            }
        }
    }

    .a-z {
        position:                       absolute;
        left:                           40px;
        top:                            0;
        a:hover {
            span {
                opacity:                1;
            }
        }
        a.active:hover {
            color:                      $stuhub-light-blue!important;
        }
        a.active {
            border-bottom:              3px solid $stuhub-light-blue;
            cursor:                     default;
            span {
                display:                none;
            }
        }
        a {
            color:                      $stuhub-light-blue;
            padding:                    0;
            margin:                     0 .03rem;
            position:                   relative;
            font-size:                  .9rem;
            font-weight:                200;
            text-align:                 center;
            display:                    inline-block;
            span {
                position:               absolute;
                left:                   -20%;
                top:                    -32px;
                font-size:              1.5rem;
                color:                  $grey-lighten-2!important;
                opacity:                0;
                @include                transition(all 0.2s ease-in-out);
                font-weight:            200;
                text-align:             center;
            }
        }
    }
}
