// TO AID READABILTY AND HELP PREVENT DUPLICATED STYLES, PLEASE MAINTAIN THE CURRENT TWO COLUMN INDENTATION.

// Artists page styles
.main-content {
    width:                                          100%;
    padding-top:                                    2rem;
    .col-lg-6 {
        padding:                                    0;
    }
    .preview {
        background-color:                           $stuhub-pale-blue;
        top:                                        31px;
        border-top:                                 1px solid $grey-lighten-1!important;
        padding:                                    40px;
        header {
            border-bottom:                          1px dashed $grey-lighten-1!important;
            padding-bottom:                         10px;
            margin-bottom:                          10px;
            h1 {
                margin:                             113px 0 10px 0;
            }
            .thumb {
                position:                           relative;
                margin:                             0 15px 0 0;
                float:                              left;
                background:                         $white url($silhouette) no-repeat 0 0;
                background-size:                    100%;
                width:                              212px;
                height:                             212px;
                border:                             1px solid $stuhub-navy;
                img {
                    width:                          210px;
                    height:                         210px;
                }
                .badge {
                    position:                       absolute;
                    top:                            -17px;
                    right:                          -17px;
                    width:                          35px;
                    height:                         35px;
                    border-radius:                  60px;
                    background-color:               $stuhub-light-blue;
                    color:                          $white;
                    text-align:                     center;
                    font-weight:                    300;
                    font-size:                      1rem;
                }
            }
            .details {
                display:                            inline-block;
            }
        }
        .preview-content {
            ul {
                li {
                    display:                        inline-block;
                    width:                          30%;
                    font-size:                      0.8rem;
                }
            }
        }
    }
    aside {
        padding:                                    33px 25px 0 40px;
        button {
            min-width:                              140px;
            clear:                                  left;
            float:                                  left;
        }
    }
    form {
        margin-left:                                40px;
    }
}
// END Artists page styles

