// Badges and Icons
.badge {
    position:                       absolute;
    width:                          35px;
    height:                         35px;
    border-radius:                  60px;
    background-color:               $stuhub-light-blue;
    color:                          $white;
    text-align:                     center;
    padding:                        0;
    font-weight:                    300;
    font-size:                      1rem;
    line-height:                    2.25rem;
}

.toggle-open-red { 
    background:                     url($toggle-open-red) no-repeat 0 0;
    background-size:                100%;
    width:                          19px;
    height:                         23px;
    display:                        inline-block;
}