// Custom Headings

h1 {
    font-size:                      3.5rem; 
    font-weight:                    100!important; 
    color:                          $stuhub-navy; 
    margin-top:                     15px;
}

h2 {
    font-size:                      1.45rem; 
    font-weight:                    200!important; 
    color:                          $stuhub-navy; 
}

h5 {
    font-size:                      1.12rem; 
    font-weight:                    200!important; 
    color:                          $stuhub-navy; 
}

h6 {
    font-size:                      .83rem; 
    font-weight:                    200!important; 
}