// TO AID READABILTY AND HELP PREVENT DUPLICATED STYLES, PLEASE MAINTAIN THE CURRENT TWO COLUMN INDENTATION.

// Custom Lists
ul {
    list-style:                             none;
    padding:                                0;
    margin:                                 0;
    li {
        margin:                             0;
        padding:                            0;
    }
}