
.device-info {
    width: 130px;
    height: 50px;
    position: absolute;
    top: 50px;
    right: 60px;
    z-index: 999;
    text-align:right;
    font-size:0.8rem;
    font-weight:500;
    color:$grey-lighten-1;
}

@include media-breakpoint-only(xs) {
    .device-info::after {
        content:"phones, 600px and down";
    }
    body {
        .container-fluid {
            .contextual-navigation ul li a {
                background:none;
                min-width:initial;
                padding-right:0;
                padding-left: 0;
                margin-right: 41px;
                font-size: 1.1rem;
            }
            .tools {
                 .tools-item {
                    display:none;
                }
                 .btn-wrapper {
                     display:block;
                 }
            }
        }
    }
}
@include media-breakpoint-only(sm) {
    .device-info::after {
        content:"portrait tablets and large phones, 600px and up";
    }
    body {
        .container-fluid {
            .contextual-navigation ul li a {
                background:none;
                min-width:initial;
                padding-right:0;
                padding-left: 0;
                margin-right: 41px;
                font-size: 1.2rem;
            }
            .tools {
                 .tools-item {
                    display:none;
                }
                 .btn-wrapper {
                     display:block;
                 }
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .device-info::after {
    content:"landscape tablets, 768px and up";
    }
    body {
        .container-fluid {
            .contextual-navigation ul li a {
                background:none;
                min-width:initial;
                padding-right:0;
                padding-left: 0;
                margin-right: 41px;
                font-size: 1.4rem;
            }
            .tools {
                 .tools-item {
                    display:none;
                }
                 .btn-wrapper {
                     display:block;
                 }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .device-info::after {
        content:"laptops/desktops, 992px and up";
    }
}
@include media-breakpoint-only(xl) {
    .device-info::after {
        content:"large laptops and desktops, 1200px and up";
    }
}