// Custom Bootstrap Styles (overrides basic components)

@import "mdb";

html {
    height:                                         100%;
    body {
        min-height:                                 100%;
        display:                                    grid;
        grid-template-rows:                         1fr auto;
        .footer {
            background:                             $stuhub-dark url($real-grey) no-repeat;
            background-size:                        200px;
            background-position:                    -96px 20px;
            padding:                                10px 20px 40px 200px;
            z-index:                                1;
            h6 {
                color:                              $white;
                margin:                             40px 0 5px 0;
                letter-spacing:                     .03rem;
            }
            a:hover {
                color:$white!important;
            }
            a {
                color:                              $grey-lighten-1;
                font-size:                          12px;
                font-weight:                        200;
                display:                            block;
                margin:                             0 0 3px 0;
            }
        }
        .padded {
            padding:                                0 40px;
        }
        .padded-left-only {
            padding:                                0 0 0 40px;
        }
    }
}

// Custom StudioHub Header
.stuhub-navbar {
    background-color:                               $stuhub-dark;
    color:                                          $grey-lighten-2;
    padding:                                        0 40px;
    box-shadow:                                     none;
    height:                                         45px;
    ul {
        display:                                    inline-block;
        list-style:                                 none;
        margin:                                     0;
        padding:                                    0;
        float:                                      left;
        li {
            display:                                inline-block;
            border-right:                           1px solid $grey-darken-1;
            padding:                                0 15px 0 0;
            margin:                                 0 15px 0 0;
            vertical-align:                         top;
            position:                               relative;
            float:                                  left;
            a:hover {
                color:                              $white!important;
            }
            a {
                height:                             45px;
                float:                              left;
                color:                              $grey-lighten-2;
                font-size:                          0.9em;
                font-weight:                        100;
                line-height:                        46px;
            }
        }
        li.ribbon-menu-item {
            border-right:                           none;
            background-image:                       url($ribbonChevron);
            background-repeat:                      no-repeat;
            background-position:                    right 19px;
            padding-right:                          20px;
        }
        li.ribbon-menu-item:last-child {
            background-image:                       none;
        }
        li.umg-platform {
            a {
                background:                         url($umgPlatformLogo) no-repeat;
                background-size:                    auto 32px;
                background-position:                0 6px;
                width:                              58px;
            }
        }
        li.platform {
            a.platformLogo {
                background:                         url($stuHubLogoInverted) no-repeat;
                background-size:                    auto 32px;
                background-position:                0 8px;
                width:                              132px;
            }
        }
    }  
}

// Subheader
header.page-sub-header {
    position:                                       relative;
    height:                                         180px;
    padding:                                        0 40px;
    // Custom Styles for Bootstrap .nav component
    .nav {
        margin-top:                                 10px;
        li:first-child {
            margin-left:                            0
        }
        li {
            margin:                                 0 20px;
            a {
                color:                              $stuhub-dark;
                padding:                            0;
                font-weight:                        300;
            }
            a.active {
                color:                              $gray-500;
                border-bottom:                      1px solid $stuhub-red;

            }
        }
    }

    // H1 with search field to the right
    .h1-with-search {
        h1 {
            float:                                  left
        }
        .search-input {
            float:                                  left;
            margin:                                 42px 0 0 20px;
            width:                                  600px;
        }
    }

    // Custom Filters with MultiSelect for StuHub
    .filters {
        margin:                                     0;
        float:                                      left;
        clear:                                      left;
        position:                                   absolute;
        top:                                        130px;
        .multi-select:hover {
            @include                                box-shadow(0, 0, 3px, rgba(68,68,68,0.2));
            .multi-select-body {
                display:                            block
            }
        }
        .multi-select {
            float:                                  left;
            margin-right:                           10px;
            min-width:                              252px;
            position:                               relative;
            z-index:                                1;
            ul {
                list-style:                         none; 
                padding:                            0; 
                margin:                             0 
            }
            .multi-select-header {
                background:                         $stuhub-dark url($dropdown-chevron) no-repeat 8px 3px;
                color:                              $white;
                border-radius:                      3px;
                font-size:                          0.75rem;
                padding:                            3px 10px 3px 25px;
                cursor:pointer;
                .count {
                    color:                          $stuhub-light-blue; 
                    margin-left:                    5px; 
                    float:                          right
                }
            }
            .multi-select-body {
                display:                            none;
                float:                              left;
                padding:                            5px 0 8px 0;
                background:                         $white;
                width:                              100%;
                border-radius:                      0 0 3px 3px;
                li {
                    padding:                        3px 10px;
                    float:                          left;
                    clear:                          left;
                    input[type=checkbox] {
                        float:                      left; 
                        margin:                     2px 5px 0 0;
                    }
                    label {
                        font-size:                  0.75rem;
                        margin:                     0;
                        padding:                    0;
                        float:                      left;
                    }
                }
            
            }
        }
    }

     // Bespoke Wizrd
    .wizard {
        position:                                   absolute;
        top:                                        116px;
        right:                                      40px;
        button {
            position:                               relative; 
            z-index:                                3
        }
        .show {
            display:                                block!important
        }
        .tint, .wiz-content {
            display:                                none;
        }
        .show-wizard {
            position:                               relative;
            .tint, .wiz-content {
                display:                            block;
            }
            .wiz-content {
                float: left;
                background-image:                   url($dk-blue-triangle-right);
                background-repeat:                  no-repeat;
                background-position:                right 11px;
                background-size:                    10px;
                position:                           relative;
                padding-right:                      9px;
                margin-right:                       2px;
                z-index:                            2;
                min-width:                          400px;
                .wiz-header {
                    height:                         40px;
                    padding:                        8px 20px 0 20px;
                    color:                          $white;
                    background-color:               $stuhub-navy;
                    border-radius:                  6px 6px 0 0;
                    font-weight:                    200;
                    font-size:                      0.85rem;
                    a:last-child {
                        margin-right:               0;
                    }
                    a {
                        float:                      left;
                        padding-top:                2px;
                        margin-right:               40px;
                        height:                     41px;
                        opacity:                    0.5;
                        background-repeat:          no-repeat;
                        background-position:        center bottom;
                        background-size:            20px;
                    }
                    a.active {
                        background-image:           url($dk-blue-triangle-bottom);
                        opacity:                    1;
                    }
                }
                .wiz-body {
                    background-color:               $white;
                    padding:                        15px 20px;
                    border-radius:                  0 0 6px 6px;
                    .form-group {
                        input {
                            margin-right:           10px
                        }
                    }
                    .button-group {
                        max-width:                  155px;
                    }
                }
            }
            .tint {
                position:                           fixed;
                z-index:                            2;
                background:                         $black;
                opacity:                            0.4;
                top:                                0;
                right:                              0;
                bottom:                             0;
                left:                               0;
            }
        }
    }
}

// Stuhub Bespoke Forms
input.search-input:focus {
    border-radius:                                  1rem;
    outline:                                        none;
    border:                                         1px solid $stuhub-light-blue!important;
    background-image:                               none!important;
}

input.search-input {
    border-radius:                                  1rem;
    @include                                        inner-shadow(0, 0, 2px, 0.2);
    border:                                         none;
    background-color:                               $grey-lighten-3;
    padding:                                        5px 20px;
    font-weight:                                    200;  
    font-size:                                      0.9rem;
    background-image:                               url($iconSearch);
    background-repeat:                              no-repeat;
    background-position:                            right 10px top 0.45rem;
    background-size:                                18px;
}

a.call-to-action:active {
    color:                                          $stuhub-light-blue !important;
}
a.call-to-action {                  
    color:                                          $stuhub-red !important;
    font-size:                                      0.9rem;
}

.btn-save, 
.btn-cancel, 
.btn-reset {
    float:                                          left;
    clear:                                          left;
    margin:                                         0 0 20px 0;
}
.btn-save {
    color:                                          $white;
    background-color:                               $stuhub-red;
}

.btn-cancel {
    color:                                          $white;
    background-color:                               $stuhub-light-blue;
}

.btn-reset {
    color:                                          $stuhub-navy;
    background-color:                               $white;
    border:                                         1px solid $stuhub-navy!important;
}

// Artists page styles
.artists-page {
    height:                                         100%;
    .col-lg-6 {
        padding-right:                              0;
    }
    table {
    }
    .preview {
        background-color:                           $stuhub-pale-blue;
        top:                                        33px;
        border-top:                                 1px dashed $stuhub-navy!important;
        padding:                                    40px;
        header {
            border-bottom:                          1px dashed $grey-lighten-1!important;
            padding-bottom:                         10px;
            margin-bottom:                          10px;
            h1 {
                margin:                             113px 0 10px 0;
            }
            h2 {
                        
            }
        }
        .thumb {
            position:                               relative;
            margin:                                 0 15px 0 0;
            float:                                  left;
            background:                             $white url("../img/silhouette-lined-blue-thin.png") no-repeat 0 0;
            background-size:                        100%;
            width:                                  212px;
            height:                                 212px;
            border:                                 1px solid $stuhub-navy;
            img {
                width:                              210px;
                height:                             210px;
            }
            .count {
                position:absolute;
                top:-17px;
                right:-17px;
                width:35px;
                height:35px;
                border-radius:60px;
                background-color:$stuhub-light-blue;
                color:$white;
                text-align: center;
                padding: 5px 0 0 0;
                font-weight:300;
                font-size:1rem;
            }
        }
        .details {
            display:                                inline-block;
        }
    }
}

