// Custom Tables

.table-sm {
    border-collapse:                    collapse;
    thead {
        th:first-child, 
        td:first-child {
            padding-left:               0;
        }
        th, td {
            font-weight:                200;
            font-size:                  0.9rem;
            border-top:                 none;
            color:                      $stuhub-navy;
            border-bottom:              1px solid $grey-lighten-1;
            padding:                    .25rem .4rem .55rem .4rem;
        }
    }
    tbody {
        tr.active {
            td {
                background-color:       $stuhub-pale-blue;
            }
        }
        tr {
            td:first-child {
            padding-left:               0;
            }
            td {
                border-top:             none;
                border-bottom:          1px dashed $grey-lighten-1;
                font-weight:            300;
                font-size:              0.75rem;
                padding:                .4rem;
            }
        }
    }
}