// Custom StudioHub Header & Branding
.stuhub-navbar {
    background-color:                               $stuhub-dark;
    color:                                          $grey-lighten-2;
    padding:                                        0 40px;
    box-shadow:                                     none;
    height:                                         45px;
    ul {
        display:                                    inline-block;
        list-style:                                 none;
        margin:                                     0;
        padding:                                    0;
        float:                                      left;
        li {
            display:                                inline-block;
            border-right:                           1px solid $grey-darken-1;
            padding:                                0 15px 0 0;
            margin:                                 0 15px 0 0;
            vertical-align:                         top;
            position:                               relative;
            float:                                  left;
            a:hover {
                color:                              $white!important;
            }
            a {
                height:                             45px;
                float:                              left;
                color:                              $grey-lighten-2;
                font-size:                          0.9em;
                font-weight:                        100;
                line-height:                        46px;
            }
        }
        li.ribbon-menu-item {
            border-right:                           none;
            background-image:                       url($ribbonChevron);
            background-repeat:                      no-repeat;
            background-position:                    right 19px;
            padding-right:                          20px;
        }
        li.ribbon-menu-item:last-child {
            background-image:                       none;
        }
        li.umg-platform {
            a {
                background:                         url($umgPlatformLogo) no-repeat;
                background-size:                    auto 32px;
                background-position:                0 6px;
                width:                              58px;
            }
        }
        li.platform {
            a.platformLogo {
                background:                         url($stuHubLogoInverted) no-repeat;
                background-size:                    auto 32px;
                background-position:                0 8px;
                width:                              132px;
            }
        }
    }  
}