// TO AID READABILTY AND HELP PREVENT DUPLICATED STYLES, PLEASE MAINTAIN THE CURRENT TWO COLUMN INDENTATION.

// Bespoke Uploads Drawer
.uploads-drawer {
    background:                                     $white;
    opacity:                                        0.92;
    transition:                                     width 0.25s;
    -webkit-transition:                             width .25s;
    -moz-transition:                                width 0.25s;
    position:                                       fixed;
    top:                                            45px;
    right:                                          0;
    bottom:                                         0;
    width:                                          38px;
    z-index:                                        2;
    white-space:                                    nowrap;
    cursor:                                         pointer;
    border-left:1px dashed $grey-lighten-1;
    .badge {
        top:                                        30px;
        left:                                       -13px;
        width:                                      26px;
        height:                                     26px;
        font-size:                                  .7rem;
        line-height:                                1.6rem;
        padding-right:                              1px;
    }
    .uploads-wrapper {
        table, h5 {
            display:none;
        }
        .toggle-open-red {
            position:                               absolute;
            right:                                  8px;
            top:                                    10px;
        }
    }
}

// When Opened
.open {
    .toggle-open-red {
        transform:                                  rotate(180deg);
        position:                                   absolute;
        right:                                      8px;
        top:                                        14px;
    }
    .uploads-drawer {
        z-index:                                    20;
        right:                                      0;
        transition:                                 width 0.25s;
        -webkit-transition:                         width .25s;
        -moz-transition:                            width 0.25s;
        width:                                      970px;
        @include                                    box-shadow(0, 3px, 8px, rgba(68,68,68,0.15));
        .uploads-wrapper {
            margin:                                 15px 40px 10px 20px;
            overflow:                               hidden;
            h5 { 
                display:                            inline-block;
                float:                              left;
                margin:                             1.1rem 0 1rem 0;
            }
            table {
                display:                            table;
                width:                              100%;
                td:nth-child(1), th:nth-child(1) {
                    width:                          40%;
                }
                thead, tbody, tr, td, th { 
                    display:                        block; 
                }
                tr:after {
                    content:                        ' ';
                    display:                        block;
                    visibility:                     hidden;
                    clear:                          both;
                }
                td, th {
                    font-size:                      .7rem;
                    width:                          10%;
                    float:                          left;
                }
                thead {
                    tr {
                        th, td {
                            font-weight:            200;
                            color:                  $grey-lighten-1;
                            border-bottom:          1px dashed $grey-lighten-1;
                            padding:                0 20px 4px 0;
                        }
                    }
                }
                tbody {
                    overflow-y:                     auto;
                    margin-top:                     5px;
                    position:                       absolute;
                    top:                            90px;
                    left:                           20px;
                    right:                          40px;
                    bottom:                         1rem;
                    tr {
                        td {
                            font-weight:            300;
                            color:                  $stuhub-dark;
                            padding:                5px 20px 2px 0;
                            white-space:            nowrap;
                            overflow:               hidden;
                            text-overflow:          ellipsis;
                        }
                    }
                }
            }
        }
    }
}
